<!DOCTYPE html>
<html lang="en">
@@include('header.inc');
<body>
	<div class="g-wrap">
		<div class="main">
			<!-- 表单答题页面 -->
			<div class="detail detail-form">
				<!--表单页面标题-->
				<div class="mod-tit">
					<h3>挑战活动：答题赢奖</h3>
				</div>

				<div class="detail-txt">
					<!-- 表单页面 -->
					<form class="form">
						<div class="form-question">
							<div class="form__item">
								<label for="" class="form__label">1. 以下不属于干细胞的是？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_1-1" name="field_question_1" value="间充质干细胞"><div class="form__radio--box"></div><label for="field_1-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 间充质干细胞</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_1-2" name="field_question_1" value="胚胎干细胞"><div class="form__radio--box"></div><label for="field_1-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 胚胎干细胞</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_1-3" name="field_question_1" value="肿瘤细胞"><div class="form__radio--box"></div><label for="field_1-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 肿瘤细胞</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_1-4" name="field_question_1" value="神经干细胞"><div class="form__radio--box"></div><label for="field_1-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 神经干细胞</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">2. 细胞复苏，水浴锅的温度应严格控制在多少度？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_2-1" name="field_question_2" value="35℃"><div class="form__radio--box"></div><label for="field_2-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 35℃</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_2-2" name="field_question_2" value="37℃"><div class="form__radio--box"></div><label for="field_2-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 37℃</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_2-3" name="field_question_2" value="39℃"><div class="form__radio--box"></div><label for="field_2-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 39℃</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_2-4" name="field_question_2" value="40℃"><div class="form__radio--box"></div><label for="field_2-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 40℃</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">3. 细胞复苏中，解冻过程应控制在多长时间内，否则会造成复苏后的细胞活性差？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_3-1" name="field_question_3" value="1 分钟"><div class="form__radio--box"></div><label for="field_3-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 1 分钟</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_3-2" name="field_question_3" value="2 分钟"><div class="form__radio--box"></div><label for="field_3-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 2 分钟</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_3-3" name="field_question_3" value="3 分钟"><div class="form__radio--box"></div><label for="field_3-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 3 分钟</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_3-4" name="field_question_3" value="5 分钟"><div class="form__radio--box"></div><label for="field_3-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 5 分钟</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">4. 细胞汇合度一般达到多少时需给细胞传代？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_4-1" name="field_question_4" value="50%"><div class="form__radio--box"></div><label for="field_4-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 50%</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_4-2" name="field_question_4" value="70%"><div class="form__radio--box"></div><label for="field_4-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 70%</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_4-3" name="field_question_4" value="80%"><div class="form__radio--box"></div><label for="field_4-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 80%</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_4-4" name="field_question_4" value="90%"><div class="form__radio--box"></div><label for="field_4-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 90%</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">5. 出现以下哪种情况，神经干细胞应立即传代？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_5-1" name="field_question_5" value="神经球逐渐增大"><div class="form__radio--box"></div><label for="field_5-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 神经球逐渐增大</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_5-2" name="field_question_5" value="神经球中央透光性减弱"><div class="form__radio--box"></div><label for="field_5-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 神经球中央透光性减弱</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_5-3" name="field_question_5" value="边缘呈现绒毛状"><div class="form__radio--box"></div><label for="field_5-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 边缘呈现绒毛状</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_5-4" name="field_question_5" value="部分神经球出现贴壁分化"><div class="form__radio--box"></div><label for="field_5-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 部分神经球出现贴壁分化</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">6. 干细胞诱导成骨成功与否的关键因素包括？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_6-1" name="field_question_6" value="诱导前的状态"><div class="form__radio--box"></div><label for="field_6-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 诱导前的状态</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_6-2" name="field_question_6" value="诱导前的密度"><div class="form__radio--box"></div><label for="field_6-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 诱导前的密度</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_6-3" name="field_question_6" value="诱导前的纯度"><div class="form__radio--box"></div><label for="field_6-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 诱导前的纯度</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">7. 干细胞冻存实验中，冻存前多久需要给细胞换上新鲜的培养基？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_7-1" name="field_question_7" value="8 小时"><div class="form__radio--box"></div><label for="field_7-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 8 小时</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_7-2" name="field_question_7" value="16 小时"><div class="form__radio--box"></div><label for="field_7-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 16 小时</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_7-3" name="field_question_7" value="24 小时"><div class="form__radio--box"></div><label for="field_7-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 24 小时</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_7-4" name="field_question_7" value="36 小时"><div class="form__radio--box"></div><label for="field_7-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 36 小时</span></label>
								</div>
							</div>
							<div class="form__item">
								<label for="" class="form__label">8. 常见的细胞污染包括？</label>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_8-1" name="field_question_8" value="真菌污染"><div class="form__radio--box"></div><label for="field_8-1" class="select-text"><span class="form__circle">A</span><span class="form__optionStr"> 真菌污染</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_8-2" name="field_question_8" value="支原体污染"><div class="form__radio--box"></div><label for="field_8-2" class="select-text"><span class="form__circle">B</span><span class="form__optionStr"> 支原体污染</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_8-3" name="field_question_8" value="细菌污染"><div class="form__radio--box"></div><label for="field_8-3" class="select-text"><span class="form__circle">C</span><span class="form__optionStr"> 细菌污染</span></label>
								</div>
								<div class="form__box--block">
								<input type="radio" class="form__radio" id="field_8-4" name="field_question_8" value="霉菌污染"><div class="form__radio--box"></div><label for="field_8-4" class="select-text"><span class="form__circle">D</span><span class="form__optionStr"> 霉菌污染</span></label>
								</div>
							</div>
							<input type="submit" class="submit-form form__submit" id="submit-form" value="提交">
						</div>
					</form>

				</div>
			</div>
			<!-- 详情页页面 -->
			<div class="detail">
				<!--详情页面导语-->
				<div class="mod-tit">
					<h3>导语</h3>
				</div>
				<div class="detail-txt">
					<div class="full-inro addShadow">
						<p>干细胞培养对于很多科研学者来说，是最基础也是最重要的一个实验。细胞培养的成功与否，除了严格规范的实验操作流程，往往还需要合适的培养条件、材料及设备等。赛业生物作为全球最大的科研干细胞库，不仅拥有全球品种最为齐全的干细胞产品，专业的技术团队更为您的细胞培养添助力。干细胞全能王专题将与您一起探讨常见问题，精心制作的动画实验视频带给您实用的培养技巧。<a href="#">马上挑战答题活动，为自己赢取丰厚奖品！</a></p>
					</div>
				</div>
				<!--详情页面挑战活动-->
				<div class="mod-tit">
					<h3>挑战活动：答题赢奖</h3>
				</div>
				<div class="detail-txt">
					<div class="full-activity addShadow">
						<div class="full-activity-text1">
							<h3>活动奖品</h3>
							<p>1、答对 5 道题及以上，奖品为洁丽雅毛巾礼盒（限量 30 个）；</p>        
							<p>2、答对 6 道题及以上，奖品为无线光电鼠标（限量 20 个）；</p>
							<p>3、答对 8 道题，奖品为乐扣乐扣保温杯（限量 3 个）。</p>                     
							<p>4、幸运奖：从所有答题者中抽取 2 名幸运儿赠送 50 元京东购物卡。</p>
							<p>** 礼品有限，全部包邮，还不赶紧参与？</p>	
						</div>
						<div class="full-activity-text2">

						<h3>答题规则</h3>
						<p>1、每人限一次答题机会；</p>	
						<p>2、题型为不定项选择题；</p>	
						<p>4、得分相同的选手，答题用时较短者获胜；</p>	
						<p>5、奖品限量 55 份，送完即止。活动截止到 2016 年 x 月 x 日，获奖名单将在 2016 年 x 月 x 日统一公布。</p>	
						</div>
						<img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/activity-pic.jpg" alt="activity-pic">
						<p><a href="#">马上答题</a></p>
					</div>
				</div>
				<!--详情页面简介-->
				<div class="mod-tit">
					<h3>干细胞简介</h3>
				</div>
				<div class="detail-txt">
					<div class="full-info">
						<p>干细胞是一类具有自我复制能力的多潜能细胞，根据发育潜能分为三类：全能干细胞（totipotent stem cell，TSC）、多能干细胞（pluripotent stem cell）和单能干细胞（unipotent stem cell）。本专题重点介绍间充质干细胞、神经干细胞、胚胎干细胞及脐带脐血干细胞。</p>
						<a href="#">了解更多</a>
					</div>
				</div>
				<!--详情页面简介-->
				<div class="mod-tit">
					<h3>干细胞FAQ</h3>
				</div>
				<div class="detail-txt">
					<div class="full-FAQ">
						<h3>1、细胞和培养基的保存条件及时间</h3>
						<p>1）细胞：接收之后要先检查干冰、细胞冷冻管是否有融化、解冻情形；如不马上复苏必须立即置于液氮保存，保存时间可长达几年。</p>
						<p>2）培养基：添加物和基础培养基按照标签所示温度分开保存时间为1年；混合之后必须避光保存在 2-8℃，推荐在一个月内使用完。同时减少敞开盖子的时间，避免培养基pH变化导致使用效果不佳。 </p>

						<h3>2、血清融解后或者配制成完全培养基后出现絮状沉淀？</h3>
						<p>培养基出现的絮状物是血清融解过程中所释出的蛋白，不同批次的培养基蛋白释出的情况也不同，属于正常现象。血清溶解时应放置于 4℃，根据溶解程度不时摇晃混匀直至溶解完全。此操作能尽量减少蛋白絮状物产生。</p>

						<h3>3、细胞复苏注意事项</h3>
						<p>1）水浴锅温度：严格控制在 37℃，且解冻时冻存管管口切勿浸没到水中；注意保证水浴用水为灭菌水，每日更换并清洗消毒水浴锅。</p>
						<p>2）解冻时间：2 分钟以内，解冻时在水浴锅中快速晃动冻存管，管中残留一点固体时即可将其拿至超净台；</p>
						<p>3）复苏接种密度：复苏接种密度对于干细胞传代能力影响较大，需严格按产品说明书描述密度进行接种。一管细胞（10×106个）一般接种面积为25cm2，注意摇匀，再放入 37℃、5% CO2 的培养箱中培养；</p>
						<p>4）复苏时候的细胞相对脆弱，整个过程需尽量避免吹打时气泡的产生，重悬细胞时动作需轻柔以免损伤细胞导致复苏后生长状态不佳。</p>
						<p>……</p>
						<a href="#">了解更多</a>
					</div>
				</div>
				<!--详情页面-->
				<div class="mod-tit">
					<h3>干细胞培养视频</h3>
				</div>
				<div class="detail-txt">
					<div class="full-video">
						<p>干细胞实验视频三部曲：复苏、传代、冻存，手把手教您，新技能马上 get√</p>
						<div class="full-video-row u-clear">
							<div class="full-video-item">
								<div class="full-video-pic">
									<a href="#"><img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/full-video-1.jpg" alt="activity-pic"></a>
								</div>
								<div class="full-video-text">
									<a href="#">问充质干细胞培养教程：复苏篇</a>
								</div>
							</div>
							<div class="full-video-arrow">
								
							</div>
							<div class="full-video-item">
								<div class="full-video-pic">
									<a href="#"><img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/full-video-2.jpg" alt="activity-pic"></a>
								</div>
								<div class="full-video-text">
									<a href="#">问充质干细胞培养教程：传代篇</a>
								</div>
							</div>
							<div class="full-video-arrow">
								
							</div>
							<div class="full-video-item">
								<div class="full-video-pic">
									<a href="#"><img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/full-video-3.jpg" alt="activity-pic"></a>
								</div>
								<div class="full-video-text">
									<a href="#">问充质干细胞培养教程：冻存篇</a>
								</div>
							</div>
						</div>
						<div class="full-video-row u-clear">
							<div class="full-video-item">
								<div class="full-video-pic">
									<a href="#"><img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/full-video-4.jpg" alt="activity-pic"></a>
								</div>
								<div class="full-video-text">
									<a href="#">神经干细胞培养教程：复苏篇</a>
								</div>
							</div>
							<div class="full-video-arrow">
								
							</div>
							<div class="full-video-item">
								<div class="full-video-pic">
									<a href="#"><img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/full-video-5.jpg" alt="activity-pic"></a>
								</div>
								<div class="full-video-text">
									<a href="#">神经干细胞培养教程：传代篇</a>
								</div>
							</div>
							<div class="full-video-arrow">
								
							</div>
							<div class="full-video-item">
								<div class="full-video-pic">
									<a href="#"><img src="http://assets.dxycdn.com/templates/accuri/style/cyagen2016/img/full-video-6.jpg" alt="activity-pic"></a>
								</div>
								<div class="full-video-text">
									<a href="#">神经干细胞培养教程：冻存篇</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/common.js"></script>
<script src="../js/script.js"></script>
</html>