body{
    background: #efefef;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 22px;
    }
    h3{
        font-size: 15px;
    }
}