.section1{
	background: url(../images/front1-bg.jpg) no-repeat 50% 50%;
	background-size: 100% 100%;
	position: relative;
	perspective: 300px;
	&__title{
		width: 90%;
		padding-top: calc(309/691*90%);
		background-size: cover;
		margin: 0 auto;
		position: relative;
		top: 23%;
		img{
			position: absolute;
		}
	}
	&__text{
		width: 100%;
		top: 0;
		left: 0;
		z-index: 9;
	}
	&__person{
		left: 20%;
		top: -72%;
		width: 33%;
		z-index: 6;
		animation-delay: 1.2s;
	}
	&__arrow{
		width: 50%;
		position: absolute;
		bottom: 20%;
		left: 25%;

	}
	&__pic1{
		left: 10%;
		top: 78%;
		width: 16%;
		z-index: 11;
		animation-delay: 0.1s;
	}
	&__pic2{
		left: 8%;
		top: -31%;
		width: 16%;
		animation-delay: 0.3s;

	}
	&__pic3{
		left: 52%;
		top: -17%;
		width: 12%;
		animation-delay: 0.5s;

	}
	&__pic4{
		left: 82%;
		top: -22%;
		width: 16%;
		animation-delay: 0.6s;

	}
	&__pic5{
		left: 61%;
		top: -45%;
		width: 28%;
		animation-delay: 1s;

	}
}
.section2{
	background: url(../images/front1-bg.jpg) no-repeat 50% 50%;
	background-size: 100% 100%;
	position: relative;
	&__title{
		width: 90%;
		padding-top: calc(826/687*90%);
		background: url(../images/section-container.png) no-repeat 50% 50%;
		background-size: cover;
		margin: 0 auto;
		position: relative;
		top: 4%;
		img{
			position: absolute;
		}
	}
	&__btn1{
		top: 50%;
		left: 15%;
		width: 70%;
		cursor: pointer;
		animation-delay: 0.3s;
	}
	&__btn2{
		top: 73%;
		left: 15%;
		width: 70%;
		cursor: pointer;
		animation-delay: 0.5s;
	}
}
.customFade{
	animation: customFade 2s linear infinite;
}
@-webkit-keyframes customFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  50%{
  	opacity: 1;
  	transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes customFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  50%{
  	opacity: 1;
  	transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.o0{
	opacity: 0;
}
.o1{
	opacity: 1;
}